*{margin:0;
padding:0;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
    height: 50vh;
}
 .top-right-block{
     height: 5vh;
     width:8vw;
    position: absolute;
    top:0px;
    right:0px;
    border:1px solid #000; 
}
#header{
    display: block;
    text-align: center;
    margin:2em;
}
#yellow{background-color: palegoldenrod;}
#pink{
    background-color: pink;
}
#red{background-color: orangered;}
#beef{
text-align: center;
float: left;
    position:relative;
    width: 18vw;
    padding:4em 4em 0em 4em;
    margin:2em;
    background-color: #ddd;
}
#sushi{float: left;
    text-align: center;
    position:relative;
    width: 18vw;
    background-color:  #ddd;
    margin:2em;
padding:4em 4em 0em 4em;
}
#chicken{float: left;
    position:relative;
    text-align: center;
    width: 18vw;
    background-color:  #ddd;
    margin:2em;
    padding:4em 4em 0em 4em;   
}
@media(max-width:991px) and (min-width:768px){
#beef,#chicken{
    width:28%;
    margin:3vw;
    float:left;}
#sushi{
    width: 70vw;
    clear:both;
}
}
@media(max-width:767px){
    #beef,#chicken,#sushi{
        float: none;
        width:50%;
        margin:2em auto ;
    }
}