*{margin:0px;
padding:0px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#beef,#sushi,#chicken{
    float:left;
    text-align: center;
    position:relative;
    width: 20rem;
    background-color:  #ddd;
    margin:10px;
    padding:35px 35px 5px 35px;
    font-size: 1.25em;
}
.container{
    height: 50vh; 
    margin: auto;    
    text-align: center;
}
 .top-right-block{
     height: 30px;
     width:80px;
    position: absolute;
    top:0px;
    right:0px;
    border:1px solid #000; 
}
#header{
    font-size:1.75em;
    display: block;
    text-align: center;
    margin:2em;
}
#yellow{
    background-color: palegoldenrod;}
#pink{
    background-color: pink;
}
#red{background-color: orangered;}

@media(max-width:991px) and (min-width:768px){
#beef,#chicken{
    margin:10px;
    width:280px;
    height: 200px;
    float:left;}
    #beef{margin-left: ;}
 #sushi{
     margin-left: 15px;
     float: left;
    width: 650px;
    clear: both;
    height: 150px;

}
}
@media(max-width:767px){
    #beef,#chicken,#sushi{
        float: none;
        width:50%;
        margin:10px auto ;
    }
}